{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'tsg_website/css/catalog.css' %}">
  <meta charset="UTF-8">
  <!-- Chrome, Firefox OS and Opera -->
  <meta name="theme-color" content="#000000">
  <!-- Windows Phone -->
  <meta name="msapplication-navbutton-color" content="#000000">
  <!-- iOS Safari -->
  <meta name="apple-mobile-web-app-status-bar-style" content="#000000">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css" rel="stylesheet">
  <link rel="shortcut icon" type="image/x-icon" href="../static/tsg_website/images/favicon.ico">
  <title>TSG - Catalog</title>
</head>

<body>
  <div class="fixed-background"></div>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-transparent fixed-top" id="navbar">
      <div class="container d-flex align-items-center">
        <div class="nav-logo">
          <img src="../static/tsg_website/images/nav_logo.png" alt="nav_logo">
        </div>
        <ul class="text testing">
          <li class="spaced">T</li>
          <li class="ghost">r</li>
          <li class="ghost">a</li>
          <li class="ghost">n</li>
          <li class="ghost">s</li>

          <li class="spaced">S</li>
          <li class="ghost">e</li>
          <li class="ghost">r</li>
          <li class="ghost">v</li>
          <li class="ghost">i</li>
          <li class="ghost">c</li>
          <li class="ghost">e</li>

          <li class="spaced">G</li>
          <li class="ghost">r</li>
          <li class="ghost">o</li>
          <li class="ghost">u</li>
          <li class="ghost">p</li>
        </ul>

        <button class="navbar-toggler shadow-none border-0" type="button" data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="sidebar offcanvas offcanvas-end offcanvas-test" tabindex="-1" id="offcanvasNavbar"
          aria-labelledby="offcanvasNavbarLabel" style="background-color: #00000000;">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title text-white " id="offcanvasNavbarLabel">Navigation</h5>
            <button type="button" class="btn-close btn-close-white shadow-none" data-bs-dismiss="offcanvas"
              aria-label="Close" id="close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end align-items-center flex-grow-1 pe-3">
              <li class="nav-item mx-2">
                <a class="nav-link active nav-link" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item mx-2">
                <a class="nav-link active nav-link" aria-current="page" href="/#about">About</a>
              </li>
              <li class="nav-item mx-2">
                <a class="nav-link active nav-link" aria-current="page" href="/#auto-services">Services</a>
              </li>
              <li class="nav-item mx-2">
                <a class="nav-link active nav-link" aria-current="page" href="/gallery/">Gallery</a>
              </li>
              <li class="nav-item mx-2">
                <a class="nav-link active nav-link" aria-current="page" href="/#contact">Contact</a>
              </li><hr>
            </ul>
            <form class="d-flex" method="GET" action="{% url 'catalog' %}">
              <input class="form-control me-2" type="text" placeholder="Search for auto" name="search"/>
              <button class="btn btn-outline-danger" type="submit">Search</button>
            </form>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <div class="container car-container">
      <aside class="filter-sidebar col-12">
        <h4 class="matching">{{ cars.count }} MATCHING VEHICLES FOUND</h4><hr class="filter-divider">
        <form method="get" action="{% url 'catalog' %}" class="filter-form">
          <div class="accordion" id="filterAccordion">
            <!-- Price Filter -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingPrice">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePrice" aria-expanded="false" aria-controls="collapsePrice">
                  Price
                </button>
              </h2>
              <div id="collapsePrice" class="accordion-collapse collapse" aria-labelledby="headingPrice" data-bs-parent="#filterAccordion">
                <div class="accordion-body">
                  <input type="range" name="priceMin" min="{{ min_price }}" max="{{ max_price }}" value="{{ request.GET.priceMin|default:min_price }}" id="priceMin" oninput="updatePriceRange()">
                  <input type="range" name="priceMax" min="{{ min_price }}" max="{{ max_price }}" value="{{ request.GET.priceMax|default:max_price }}" id="priceMax" oninput="updatePriceRange()">
                  <output id="priceRange" class="output-price">${{ request.GET.priceMin|default:min_price|safe }} - ${{ request.GET.priceMax|default:max_price|safe }}</output>
                  <hr class="filter-divider">
                </div>
              </div>
            </div>

            <!-- Year Filter -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingYear">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseYear" aria-expanded="false" aria-controls="collapseYear">
                  Year
                </button>
              </h2>
              <div id="collapseYear" class="accordion-collapse collapse" aria-labelledby="headingYear" data-bs-parent="#filterAccordion">
                {% for year in years %}
                <div class="filter-option">
                  <label class="filter-checkbox" for="year_{{ year }}">
                    <input type="checkbox" id="year_{{ year }}" name="year" value="{{ year }}" style="display:none" {% if request.GET.model == year %}checked{% endif %}>
                    {{ year }}
                  </label>
                </div>
                {% endfor %}
              </div>
            </div>

            <!-- Make Filter -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingMake">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMake" aria-expanded="false" aria-controls="collapseMake">
                  Make
                </button>
              </h2>
              <div id="collapseMake" class="accordion-collapse collapse" aria-labelledby="headingMake" data-bs-parent="#filterAccordion">
                {% for make in makes %}
                <div class="filter-option">
                  <label class="filter-checkbox" for="make_{{ make }}">
                    <input type="checkbox" id="make_{{ make }}" name="make" value="{{ make }}" style="display:none" {% if request.GET.model == make %}checked{% endif %}>
                    {{ make }}
                  </label>
                </div>
                {% endfor %}
              </div>
            </div>

            <!-- Model Filter -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingModel">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseModel" aria-expanded="false" aria-controls="collapseModel">
                  Model
                </button>
              </h2>
              <div id="collapseModel" class="accordion-collapse collapse" aria-labelledby="headingModel" data-bs-parent="#filterAccordion">
                {% for model in models %}
                <div class="filter-option">
                  <label class="filter-checkbox" for="model_{{ model }}">
                    <input type="checkbox" id="model_{{ model }}" name="model" value="{{ model }}" style="display:none" {% if request.GET.model == model %}checked{% endif %}>
                    {{ model }}
                  </label>
                </div>
                {% endfor %}
              </div>
            </div>

            <!-- Mileage Range Filter -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingMileage">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMileage" aria-expanded="false" aria-controls="collapseMileage">
                  Mileage
                </button>
              </h2>
              <div id="collapseMileage" class="accordion-collapse collapse" aria-labelledby="headingMileage" data-bs-parent="#filterAccordion">
                <div class="accordion-body">
                  <input type="range" name="mileageMin" min="{{ min_mileage }}" max="{{ max_mileage }}" value="{{ request.GET.mileageMin|default:min_mileage }}" id="mileageMin" oninput="updateMileageRange()">
                  <input type="range" name="mileageMax" min="{{ min_mileage }}" max="{{ max_mileage }}" value="{{ request.GET.mileageMax|default:max_mileage }}" id="mileageMax" oninput="updateMileageRange()">
                  <output id="mileageRange" style="font-size: large;">{{ request.GET.mileageMin|default:min_mileage }} miles - {{ request.GET.mileageMax|default:max_mileage }} miles</output>
                  <hr class="filter-divider">
                </div>
              </div>
            </div>

            <!-- Exterior Color Filter -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingExteriorColor">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExteriorColor" aria-expanded="false" aria-controls="collapseExteriorColor">
                  Exterior Color
                </button>
              </h2>
              <div id="collapseExteriorColor" class="accordion-collapse collapse" aria-labelledby="headingExteriorColor" data-bs-parent="#filterAccordion">
                {% for color in colors %}
                <div class="filter-option">
                  <label class="filter-checkbox" for="color_{{ color }}">
                    <input type="checkbox" id="color_{{ color }}" name="color" value="{{ color }}" style="display:none" {% if request.GET.model == color %}checked{% endif %}>
                    {{ color }}
                  </label>
                </div>
                {% endfor %}
              </div>
            </div>

            <!-- Body Type Filter -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingBodyType">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseBodyType" aria-expanded="false" aria-controls="collapseBodyType">
                  Body Type
                </button>
              </h2>
              <div id="collapseBodyType" class="accordion-collapse collapse" aria-labelledby="headingBodyType" data-bs-parent="#filterAccordion">
                {% for body_type in body_types %}
                <div class="filter-option">
                  <label class="filter-checkbox" for="body_type_{{ body_type }}">
                    <input type="checkbox" id="body_type_{{ body_type }}" name="body_type" value="{{ body_type }}" style="display:none" {% if request.GET.model == body_type %}checked{% endif %}>
                    {{ body_type }}
                  </label>
                </div>
                {% endfor %}
              </div>
            </div>

            <!-- Transmission Filter -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTransmission">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTransmission" aria-expanded="false" aria-controls="collapseTransmission">
                  Transmission
                </button>
              </h2>
              <div id="collapseTransmission" class="accordion-collapse collapse" aria-labelledby="headingTransmission" data-bs-parent="#filterAccordion">
                {% for transmission in transmissions %}
                <div class="filter-option">
                  <label class="filter-checkbox" for="transmission_{{ transmission }}">
                    <input type="checkbox" id="transmission_{{ transmission }}" name="transmission" value="{{ transmission }}" style="display:none" {% if request.GET.model == transmission %}checked{% endif %}>
                    {{ transmission }}
                  </label>
                </div>
                {% endfor %}
              </div>
            </div>

            <!-- Fuel Type Filter -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFuelType">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFuelType" aria-expanded="false" aria-controls="collapseFuelType">
                  Fuel Type
                </button>
              </h2>
              <div id="collapseFuelType" class="accordion-collapse collapse" aria-labelledby="headingFuelType" data-bs-parent="#filterAccordion">
                {% for fuel_type in fuel_types %}
                <div class="filter-option">
                  <label class="filter-checkbox" for="fuel_type_{{ fuel_type }}">
                    <input type="checkbox" id="fuel_type_{{ fuel_type }}" name="fuel_type" value="{{ fuel_type }}" style="display:none" {% if request.GET.model == fuel_type %}checked{% endif %}>
                    {{ fuel_type }}
                  </label>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-danger mt-3">Apply Filters</button>
          <a href="#" class="btn btn-outline-danger mt-3" id="clearFilters">Clear Filters</a><hr class="filter-divider"><hr class="filter-divider"><hr class="filter-divider">
        </form>
      </aside>
      {% if cars %}
        {% if query %}
        <a href="/catalog" class="go-to-all-cars">
          <p class="go-to-all-cars">← All cars</p>
        </a>
        {% endif %}
        {% for car in cars %}
        <div class="car">
          <div class="divider"></div>
          <div class="row">
            <div class="col-12 col-md-6 d-flex flex-column car-col">
              <div class="flex-grow-1">
                <h5>Model</h5>
                <h4>{{car.name}}</h4>
              </div>
              <div class="divider"></div> <!-- Визуальный разделитель -->
              <div class="flex-grow-1">
                <h5>Description</h5>
                <span>{{car.description}}</span>
              </div>
              <div class="divider"></div> <!-- Визуальный разделитель -->
              <div class="flex-grow-1">
                <h5>Price</h5>
                {% if car.is_sold %}
                <h4 style="margin-bottom:20px;">SOLD</h4>
                {% else %}
                <h4>{{ car.formatted_price }} $</h4>
                {% endif %}
              </div>
              {% if not car.is_sold %}
              <a href="/#contact" class="order-button">
                <div class="button text-center">ORDER</div>
              </a>
              {% endif %}
            </div>
            <div class="col-12 col-md-6 car-col">
              <div id="carouselExampleControls{{ car.id }}" class="carousel slide carousel-fade" data-bs-ride="carousel">
                {% if car.is_sold %}
                <div class="sold-badge">
                  <h1 class="is-sold">SOLD</h1>
                </div>
                {% endif %}
                <div class="carousel-inner">
                  {% for photo in car.photos.all %}
                  {% if forloop.first %}
                  <div class="carousel-item active">
                      <a href="{{ photo.image.url }}" data-lightbox="catalog {{ car.id }}" data-title="Photo {{ forloop.counter }}">
                          <img src="{{ photo.image.url }}" class="d-block w-100" alt="photo">
                      </a>
                  </div>
                  {% else %}
                  <div class="carousel-item">
                      <a href="{{ photo.image.url }}" data-lightbox="catalog {{ car.id }}" data-title="Photo {{ forloop.counter }}">
                          <img src="{{ photo.image.url }}" class="d-block w-100" alt="photo">
                      </a>
                  </div>
                  {% endif %}
                  {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls{{ car.id }}"
                  data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls{{ car.id }}"
                  data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="divider"></div>
        {% if not forloop.last %}
        <hr class="car-divider"> <!-- Горизонтальная линия между машинами, кроме последней -->
        {% endif %}
        {% endfor %}
      {% elif query %}
      <p class="no-results">No cars found for "{{ query }}"</p>
      <a href="/catalog" class="go-to-all-cars">
        <p class="go-to-all-cars">← All cars</p>
      </a>
      {% else %}
        {% for car in cars %}
          <div class="car">
            <div class="row">
              <div class="col-12 col-md-6 d-flex flex-column car-col">
                <div class="flex-grow-1">
                  <h5>Model</h5>
                  <h4>{{car.name}}</h4>
                </div>
                <div class="divider"></div> <!-- Визуальный разделитель -->
                <div class="flex-grow-1">
                  <h5>Description</h5>
                  <span>{{car.description}}</span>
                </div>
                <div class="divider"></div> <!-- Визуальный разделитель -->
                <div class="flex-grow-1">
                  <h5>Price</h5>
                  {% if car.is_sold %}
                  <h4 style="margin-bottom:20px;">SOLD</h4>
                  {% else %}
                  <h4>{{ car.formatted_price }} $</h4>
                  {% endif %}
                </div>
                {% if not car.is_sold %}
                <a href="/#contact" class="order-button">
                  <div class="button text-center">ORDER</div>
                </a>
                {% endif %}
              </div>
              <div class="col-12 col-md-6 car-col">
                <div id="carouselExampleControls{{ car.id }}" class="carousel slide carousel-fade" data-bs-ride="carousel">
                  {% if car.is_sold %}
                  <div class="sold-badge">
                    <h1 class="is-sold">SOLD</h1>
                  </div>
                  {% endif %}
                  <div class="carousel-inner">
                    {% for photo in car.photos.all %}
                    {% if forloop.first %}
                    <div class="carousel-item active">
                        <a href="{{ photo.image.url }}" data-lightbox="catalog" data-title="Photo {{ forloop.counter }}">
                            <img src="{{ photo.image.url }}" class="d-block w-100" alt="photo">
                        </a>
                    </div>
                    {% else %}
                    <div class="carousel-item">
                        <a href="{{ photo.image.url }}" data-lightbox="catalog" data-title="Photo {{ forloop.counter }}">
                            <img src="{{ photo.image.url }}" class="d-block w-100" alt="photo">
                        </a>
                    </div>
                    {% endif %}
                    {% endfor %}
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls{{ car.id }}"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls{{ car.id }}"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>

  </main>

  <footer>
    <div class="container footer-info">
      <footer class="py-3 my-4">
        <p class="text-center text-dark-emphasis">© 2024 Trans Service Group, Inc</p>
      </footer>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="{% static "tsg_website/js/tsg_ani.js" %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox-plus-jquery.min.js"></script>
  <script>
      lightbox.option({
        'resizeDuration': 200,
        'wrapAround': true
      })
  </script>
  <script>
    // Убедимся, что DOM полностью загружен
    document.addEventListener('DOMContentLoaded', function () {
      // Перебираем все элементы карусели
      document.querySelectorAll('.carousel-item').forEach(function (item) {
        var img = item.querySelector('img');
        // Устанавливаем фоновое изображение, как только изображение будет загружено
        img.onload = function () {
          item.style.backgroundImage = 'url(' + img.src + ')';
        };
        // Если изображение уже кэшировано и имеет ширину, установите фон немедленно
        if (img.complete && img.naturalWidth) {
          item.style.backgroundImage = 'url(' + img.src + ')';
        }
      });
    });
  </script>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const checkboxes = document.querySelectorAll('input[type="checkbox"]');
      checkboxes.forEach(function(checkbox) {
        checkbox.addEventListener('change', function() {
            localStorage.setItem(checkbox.id, checkbox.checked);
        });
        const checked = JSON.parse(localStorage.getItem(checkbox.id));
        if (checked !== null) {
            checkbox.checked = checked;
        }
      });
    });
  </script>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const clearFiltersButton = document.getElementById('clearFilters');
      if (clearFiltersButton) {
          clearFiltersButton.addEventListener('click', function(event) {
              event.preventDefault();
              localStorage.clear(); // Очистка сохраненных чекбоксов
              window.location.href = "{% url 'catalog' %}"; // Переход на страницу сброса фильтров
          });
      }
    });
  </script>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      var checkboxes = document.querySelectorAll('input');
      
      checkboxes.forEach(function(checkbox) {
        checkbox.addEventListener('change', function() {
          if(this.checked) {
            // Если чекбокс выбран, добавить класс к родительскому элементу
            this.closest('.filter-option').classList.add('filter-option-active');
          } else {
            // Если чекбокс не выбран, удалить класс у родительского элемента
            this.closest('.filter-option').classList.remove('filter-option-active');
          }
        });
      });
    });
  </script>

  <script>
    function updatePriceRange() {
      var priceMin = document.getElementById('priceMin').value;
      var priceMax = document.getElementById('priceMax').value;
      var priceRange = document.getElementById('priceRange');
      
      priceRange.textContent = `$${priceMin} - $${priceMax}`;
    }
  
    // Вызываем функцию обновления при первоначальной загрузке страницы
    updatePriceRange();
  </script>

  <script>
    function updateMileageRange() {
      var mileageMin = document.getElementById('mileageMin').value;
      var mileageMax = document.getElementById('mileageMax').value;
      var mileageRange = document.getElementById('mileageRange');
      
      mileageRange.textContent = `${mileageMin} miles - ${mileageMax} miles`;
    }
  
    // Вызываем функцию обновления при первоначальной загрузке страницы
    updateMileageRange();
  </script>
</body>
</html>